extends ./layout.jade

block content
  div
    h1 Bestellung

    div
      div: strong OrderId: #{order.orderId}
      div Create: #{order.createdAt}
      div Product <strong>#{order.offerId}</strong>
      div: strong #{order.amount.toFixed(2)}&nbsp;&euro;

    hr

    form(method='post',class='form-horizontal')
      fieldset(id='ccData',style='display:none;')
        legend Kreditkarten Daten
        div(class='form-group')
          lable(for='ccType',class='col-sm-2 control-label') KreditkartenTyp&nbsp;
          div(class='col-sm-10')
            select(name='ccType', id='ccType', class="form-control")
              each title, type in { visa: 'Visa', mastercard: 'Mastercard', amex: 'Amex', discover: 'Discover' }
                option(value=type)= title
        div(class='form-group')
          lable(for='ccNumber',class='col-sm-2 control-label') Nummer&nbsp;
          div(class='col-sm-10')
            input(name='ccNumber',value='4111111111111111',id='ccNumber',maxlength='16',placeholder='4111111111111111')
        div(class='form-group')
          lable(for='ccExpireMonth',class='col-sm-2 control-label') Gültig bis Monat&nbsp;
          div(class='col-sm-10')
            input(name='ccExpireMonth',value='1',id='ccExpireMonth',maxlength='2',placeholder='12')
        div(class='form-group')
          lable(for='ccExpireYear',class='col-sm-2 control-label') Gültig bis Jahr&nbsp;
          div(class='col-sm-10')
            input(name='ccExpireYear',value='2016',id='ccExpireYear',maxlength='4',placeholder='2018')
        div(class='form-group')
          lable(for='ccCvv2',class='col-sm-2 control-label') Prüfziffer&nbsp;
          div(class='col-sm-10')
            input(name='ccCvv2',value='666',id='ccCvv2',maxlength='4',placeholder='111')
      fieldset
        legend Bezahlart
        div(class='form-group')
          lable(for='payment',class='col-sm-2 control-label') Bezahlart&nbsp;
          div(class='col-sm-10')
            select(name='payment', id='payment', class="form-control")
              each title, type in payments
                option(value=type)= title
      fieldset
        legend Abschließen
        div(class='form-group')
          div(class='col-sm-offset-2 col-sm-10')
            button(type='submit',class='btn btn-default') Bestellen

  script.
    $('#payment').change(function() {
      switch(this.value) {
        case 'paypal_creditcard':
        case 'micropayment_creditcard':
          $('#ccData').show();
          break;
        default:
          $('#ccData').hide();
      }
    });