extends ./layout.jade

block content
  h1 Order history
  ul
    each item in orders
      li
        h2= 'Product ' + item.order.offerId
        div= 'OrderId: ' + item.order.orderId
        div= 'Order Date: ' + item.order.createdAt
        div= 'Amount: ' + item.order.amount
        div
          strong= 'Payment Status: ' + item.payment.status
          br
          strong= 'Order Status: ' + item.order.status
          br
          strong= 'Method: ' + item.payment.method
          br
          strong= 'Vendor: ' + item.payment.vendor
        a.btn.btn-danger(href='/refund?orderId=' + item.order.orderId) Refund
        a.btn.btn-success(href='/execute?orderId=' + item.order.orderId) Execute
        a.btn.btn-warning(href='/cancel-payment?orderId=' + item.order.orderId) Cancel

