extends ./layout.jade

block content
  h1 Bestellungen Übersicht
  ul
    each item in orders
      li
        h2= 'Produkt ' + item.order.offerId
        div= 'OrderId: ' + item.order.orderId
        div= ' Datum: ' + item.order.createdAt
        div
          strong= 'Payment Status: ' + item.payment.status
          br
          strong= 'Order Status: ' + item.order.status
          br
          strong= 'Method: ' + item.payment.method
          br
          strong= 'Vendor: ' + item.payment.vendor
        a(href='/refund?orderId=' + item.order.orderId) Stornieren

